name: Integration test
on:
  pull_request:
    branches:
      master


jobs:
  build:
    name: Run example
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Run Simple Example
      uses: ./
      with:
        entrypoint: example/simple/entrypoint.sh
        args: simple
    - name: Run Advanced Example
      uses: ./
      with:
        entrypoint: example/advanced/entrypoint.sh
        args: advanced
    - name: Run Stream Example
      uses: ./
      with:
        entrypoint: example/stream/entrypoint.sh
        args: stream
    - name: Run WKT Example
      uses: ./
      with:
        entrypoint: example/well_known_types/entrypoint.sh
    - name: Run Multi Package Example
      uses: ./
      with:
        entrypoint: example/multi-package/entrypoint.sh
    - name: Run Multi Files Example
      uses: ./
      with:
        entrypoint: example/multi-files/entrypoint.sh
    - name: Run one-of Example
      uses: ./
      with:
        entrypoint: example/one-of/entrypoint.sh
    - name: Run stub subfolders example
      uses: ./
      with:
        entrypoint: example/stub-subfolders/entrypoint.sh
